parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Codedor\\\\FilamentArchitect\\\\Livewire\\\\EditModal\\:\\:\\$form.$#"
			count: 3
			path: src/Livewire/EditModal.php
		-
			message: "#^Access to an undefined property Filament\\\\Forms\\\\Contracts\\\\HasForms\\:\\:\\$mountedFormComponentActionsArguments.$#"
			count: 1
			path: src/Filament/Fields/ArchitectInput.php
		-
			message: "#^Unsafe usage of new static\\(\\).$#"
			count: 1
			path: src/Engines/RenderEngine.php
		-
			message: "#^Unsafe usage of new static\\(\\).$#"
			count: 1
			path: src/Filament/Architect/BaseBlock.php
		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<int,int\\>\\:\\:map\\(\\) expects callable\\(int, int\\)\\: FilamentTiptapEditor\\\\TiptapEditor, Closure\\(string\\)\\: FilamentTiptapEditor\\\\TiptapEditor given.$#"
			count: 1
			path: src/Filament/Architect/TextBlock.php
		-
			message: "#^Parameter \\#1 \\$view of function view expects view-string\\|null, string given.$#"
			count: 1
			path: src/Livewire/EditModal.php
		-
			message: "#^Parameter \\#1 \\$view of function view expects view-string\\|null, string given.$#"
			count: 1
			path: src/Livewire/ArchitectPreview.php
		-
			message: "#^Parameter \\#1 \\$view of function view expects view-string\\|null, string given.$#"
			count: 1
			path: src/Filament/Fields/ArchitectInput.php
		-
			message: "#^Property Codedor\\\\FilamentArchitect\\\\Filament\\\\Fields\\\\ArchitectInput\\:\\:\\$view \\(view-string\\) does not accept default value of type string.$#"
			count: 1
			path: src/Filament/Fields/ArchitectInput.php
		-
			message: "#^Parameter \\#1 \\$view of method Filament\\\\Support\\\\Components\\\\ViewComponent\\:\\:view\\(\\) expects view-string\\|null, string given.$#"
			count: 1
			path: src/Filament/Components/ButtonComponent.php
		-
			message: "#^Parameter \\#1 \\$view of function view expects view-string\\|null, string given.$#"
			count: 1
			path: src/Filament/Architect/VideoTextBlock.php
		-
			message: "#^Parameter \\#1 \\$view of function view expects view-string\\|null, string given.$#"
			count: 1
			path: src/Filament/Architect/VideoBlock.php
		-
			message: "#^Parameter \\#1 \\$view of function view expects view-string\\|null, string given.$#"
			count: 1
			path: src/Filament/Architect/TextBlock.php
		-
			message: "#^Parameter \\#1 \\$view of function view expects view-string\\|null, string given.$#"
			count: 1
			path: src/Filament/Architect/TableBlock.php
		-
			message: "#^Parameter \\#1 \\$view of function view expects view-string\\|null, string given.$#"
			count: 1
			path: src/Filament/Architect/SpacerBlock.php
		-
			message: "#^Parameter \\#1 \\$view of function view expects view-string\\|null, string given.$#"
			count: 1
			path: src/Filament/Architect/SliderBlock.php
		-
			message: "#^Parameter \\#1 \\$view of function view expects view-string\\|null, string given.$#"
			count: 1
			path: src/Filament/Architect/MediaTextBlock.php
		-
			message: "#^Parameter \\#1 \\$view of function view expects view-string\\|null, string given.$#"
			count: 1
			path: src/Filament/Architect/MediaBlock.php
		-
			message: "#^Parameter \\#1 \\$view of function view expects view-string\\|null, string given.$#"
			count: 1
			path: src/Filament/Architect/EmbedBlock.php
		-
			message: "#^Parameter \\#1 \\$view of function view expects view-string\\|null, string given.$#"
			count: 1
			path: src/Filament/Architect/CtaBlock.php
		-
			message: "#^Parameter \\#1 \\$view of function view expects view-string\\|null, string given.$#"
			count: 1
			path: src/Filament/Architect/CardBlock.php
		-
			message: "#^Parameter \\#1 \\$view of function view expects view-string\\|null, string given.$#"
			count: 1
			path: src/Filament/Architect/ButtonBlock.php
		-
			message: "#^Parameter \\#1 \\$view of function view expects view-string\\|null, string given.$#"
			count: 1
			path: src/Engines/Architect.php
